################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nibbler/bin/Debug
/Nibbler/obj/Debug
